Client/Connected Services/ServiceReference1/Login1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Authentificator" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Authentificator" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="UserToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpiryTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidFrom" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserToken" nillable="true" type="tns:UserToken" />
</xs:schema>