Client/Connected Services/ServiceReference2/Decryptor2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Decryptorus" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Decryptorus" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://52.174.17.244:5051/Decryptor.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="STG">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppVersion" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperationVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusOp" type="xs:boolean" />
      <xs:element minOccurs="0" name="TokenApp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="STG" nillable="true" type="tns:STG" />
</xs:schema>