Client/Connected Services/JAXWS/CheckerServiceBean.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://facade.checkerfacade.cesi.com/" targetNamespace="http://facade.checkerfacade.cesi.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="checkDecrypt" type="tns:checkDecrypt" />
  <xs:element name="checkDecryptResponse" type="tns:checkDecryptResponse" />
  <xs:complexType name="checkDecrypt">
    <xs:sequence>
      <xs:element minOccurs="0" name="appToken" type="xs:string" />
      <xs:element minOccurs="0" name="decryptInfo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkDecryptResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="decryptValidation" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>